<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>
            IndexController
        </welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>MyFilter</filter-name>
        <filter-class>filter.MyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>Controller.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>Controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceController</servlet-name>
        <servlet-class>Controller.InvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductListController</servlet-name>
        <servlet-class>Controller.AdminProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserListController</servlet-name>
        <servlet-class>Controller.AdminUserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddUserController</servlet-name>
        <servlet-class>Controller.AdminAddUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductAddController</servlet-name>
        <servlet-class>Controller.AdminProductAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditProductController</servlet-name>
        <servlet-class>Controller.AdminEditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditUserController</servlet-name>
        <servlet-class>Controller.AdminEditUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubcribeController</servlet-name>
        <servlet-class>Controller.SubcribeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingController</servlet-name>
        <servlet-class>Controller.ShoppingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>Controller.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>Controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecondServlet</servlet-name>
        <servlet-class>Controller.SecondServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateUserAccount</servlet-name>
        <servlet-class>Controller.ValidateUserAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckRegister</servlet-name>
        <servlet-class>Controller.CheckRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignoutController</servlet-name>
        <servlet-class>Controller.SignoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAddressController</servlet-name>
        <servlet-class>Controller.ShowAddressController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAddressController</servlet-name>
        <servlet-class>Controller.ChangeAddressController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/IndexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceController</servlet-name>
        <url-pattern>/InvoiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductListController</servlet-name>
        <url-pattern>/AdminProductListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserListController</servlet-name>
        <url-pattern>/AdminUserListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddUserController</servlet-name>
        <url-pattern>/AdminAddUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductAddController</servlet-name>
        <url-pattern>/AdminProductAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditProductController</servlet-name>
        <url-pattern>/AdminEditProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditUserController</servlet-name>
        <url-pattern>/AdminEditUserController</url-pattern>
    </servlet-mapping>
    <!--session configuration-->
    <servlet-mapping>
        <servlet-name>SubcribeController</servlet-name>
        <url-pattern>/SubcribeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingController</servlet-name>
        <url-pattern>/ShoppingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/DetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecondServlet</servlet-name>
        <url-pattern>/SecondServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateUserAccount</servlet-name>
        <url-pattern>/ValidateUserAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckRegister</servlet-name>
        <url-pattern>/CheckRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignoutController</servlet-name>
        <url-pattern>/SignoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAddressController</servlet-name>
        <url-pattern>/ShowAddressController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAddressController</servlet-name>
        <url-pattern>/ChangeAddressController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>pageSize</param-name>
        <param-value>10</param-value>
    </context-param>
    <env-entry>
        <env-entry-name>imgPath</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>img/</env-entry-value>
    </env-entry>
</web-app>
